<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrjstudy.springcloud.dao.PaymentDao">

    <resultMap id="BaseResulMap" type="com.zrjstudy.springcloud.entities.Payment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="add" parameterType="com.zrjstudy.springcloud.entities.Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment (serial) values (#{serial})
    </insert>

    <select id="getPaymentById" parameterType="long" resultMap="BaseResulMap">
          select * from  payment where id = #{id}
    </select>
</mapper>
